
.App {
  text-align: center;
}

.login{
  cursor: pointer;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(33, 7, 80);
  color: white;
}

nav{
  background: linear-gradient(to top, rgb(33, 7, 80), rgb(94, 56, 165));
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #0060ba; /* Colore di sfondo */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s; /* Durata dell'effetto di transizione */
}

button:hover {
  background-color: #984caf; /* Colore di sfondo al passaggio del mouse */
  color: white; /* Colore del testo al passaggio del mouse */
}

.cdiv{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.success{
  color: green;
}

.error{
  color: red;
}

.geme-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
