
.App {
  text-align: center;
}


body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(33, 7, 80);
  color: white;
}

footer{
  background-color: #210750;
  color: #aa85d4;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cdiv{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.spacer{
  margin: 120px;
}

.container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.pink-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #aa85d4;
}

.success{
  color: green;
}

.error{
  color: red;
}

.geme-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
  margin-left: 5px;
  border: 2px solid #ffffff;
  font-weight: bold;
  transition: all 0.2s;
  width: fit-content;
  }
  
  .button:hover{
  background-color: white;
  color: #210750;
  }

  .hithere {
    animation: hithere 1s ease infinite;
  }
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }