
.App {
  text-align: center;
}

.login{
  cursor: pointer;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(33, 7, 80);
  color: white;
}

nav{
  background: linear-gradient(to top, rgb(33, 7, 80), rgb(94, 56, 165));
  color: white;
  padding: 10px;
  text-align: center;
}

.cdiv{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.success{
  color: green;
}

.error{
  color: red;
}

.geme-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
