

.card-img {
    border-radius: 10px;
    width: 300px; 
}

.img-div {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
}


.game-card {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 270px; 
    background-color: rgba(255, 255, 255, 0.25); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: height 0.2s ease;
    cursor: pointer;
    backdrop-filter: blur(16px) saturate(180%);
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    box-sizing: border-box;
    border: 3px solid transparent;
}
.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.game-card:hover {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
    border-color: rgba(255, 0, 255, 0.5);
}

.game-title {
    margin-top: 10px;
}

.game-price {
    margin-top: 10px;
    font-weight: bold;
}